@font-face {
    font-family: OpenDyslexic;
    src: url('Font/OpenDyslexic-Regular.otf')
}

@font-face {
    font-family: OpenDyslexic;
    font-weight: bold;
    src: url('Font/OpenDyslexic-Bold.otf')
}

@font-face {
    font-family: OpenDyslexic;
    font-weight: bold;
    font-style: italic;
    src: url('Font/OpenDyslexic-BoldItalic.otf')
}

@font-face {
    font-family: OpenDyslexic;
    font-style: italic;
    src: url('Font/OpenDyslexic-Italic.otf')
}

body {
    font-family: OpenDyslexic, Georgia, sans-serif;
}

.questform {
    text-align: center;
    padding: 20px;
    margin: 5% auto;
    min-width: 30%;
    max-width: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: lightcoral;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px lightgray;
}

input[type="button"] {
    font-family: OpenDyslexic, Georgia, sans-serif;
    margin: 5px auto;
    min-width: 40%;
    max-width: 80%;
    border-width: 3px;
    border-style: solid;
    border-color: lightcoral;
    border-radius: 20px;
    background-color: lemonchiffon;
    box-shadow: 2px 2px 2px 2px lightgray;
}

input[type="text"] {
    float: right;
    min-width: 40%;
}

input[type="date"] {
    float: right;
    min-width: 40%;
}

.questform table {
    width: 99%;
    border-style: hidden;
    border-width: 3px;
}

.questform td, tr {
    min-width: 50%;
    border-style: solid;
    border-width: 3px;
    margin: auto;
}

.printform {
    max-width: 95%;
    margin: 1% auto;
    border-width: 3px;
    border-style: hidden;
    padding: 1%
}

.datatable {
    width: 99%;
    border-style: hidden;
    border-width: 3px;
}

.datacell, .textcell {
    min-width: 50%;
    border-style: solid;
    border-width: 3px;
    margin: auto;
}

.datacell {
    text-align: center;
}

.signtable1 {
    table-layout: fixed;
    margin-bottom: 1%;
    margin-top: 3%;
}

    .signtable1 .setfield {
        vertical-align: bottom;
        text-align: right;
    }

    .signtable1 .fillfield {
        width: 40%;
    }

.signtable2 {
    table-layout: fixed;
    margin-bottom: 1%;
    margin-top: 3%;
}

    .signtable2 .setfield {
      
        vertical-align: bottom;
        text-align: center
    }

    .signtable2 .fillfield {
        width: 60%;
    }

.ppttable1 {
    margin-top: 1%;
    table-layout: fixed;
}

    .ppttable1 .setfield {
  
        vertical-align: bottom;
        text-align: right;
    }

    .ppttable1 .fillfield {
        width: 70%;
    }

.ppttable2 {
    margin-top: 1%;
    table-layout: fixed;
}

    .ppttable2 .setfield {
        vertical-align: bottom;
        text-align: right;
    }

    .ppttable2 .fillfield {
        width: 26.1%;
    }

.offtable {
    margin-top: 1%;
}

    .offtable .setfield {
        vertical-align: bottom;
        text-align: right;
    }

    .offtable .fillfield {
        width: 53.4%;
        height: 3cm;
    }

.fillfield {
    border-bottom-style: dotted;
}

.setfield {
    border-style: hidden;
}

.filler {
    width: 100%;
    border-top-style: solid;
}


@media print {
    .printform {
        font-family: Georgia, sans-serif;
        page-break-after: always;
        page-break-inside: avoid;
    }


