@font-face {
    font-family: OpenDyslexic;
    src: url('Font/OpenDyslexic-Regular.otf')
}
@font-face {
    font-family: OpenDyslexic;
    font-weight: bold;
    src: url('Font/OpenDyslexic-Bold.otf')
}

@font-face {
    font-family: OpenDyslexic;
    font-weight: bold;
    font-style: italic;
    src: url('Font/OpenDyslexic-BoldItalic.otf')
}

@font-face {
    font-family: OpenDyslexic;
    font-style: italic;
    src: url('Font/OpenDyslexic-Italic.otf')
}

body
{
    font-family : OpenDyslexic, Georgia, sans-serif;
}

#formbox {
    }

.questform {
    text-align:center;
    padding: 20px;
    margin: 5% auto;
    min-width: 30%;
    max-width: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: lightcoral;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px lightgray;
}

input[type="button"] {
    font-family: OpenDyslexic, Georgia, sans-serif;
    margin: 5px auto;
    min-width: 40%;
    max-width: 80%;
    border-width: 3px;
    border-style: solid;
    border-color: lightcoral;
    border-radius: 20px;
    background-color: lemonchiffon;
    box-shadow: 2px 2px 2px 2px lightgray;
}

input[type="text"] {
    float: right;
    min-width: 40%;
}

input[type="date"] {
    float: right;
    min-width: 40%;
}

.printform {
    margin: 1% auto;
    border-width: 3px;
    border-style: hidden;
    padding: 1%
}
